// Font Stack
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$primary-font: 'Nunito', sans-serif;

// Colors
$primary: #FFFFFF;
$secondary-one: #474753;
$secondary-two: #1B1B1B;
$secondary-three: #EB4242;
$secondary-four: #22C0AD;
$secondary-five: #C3C3C3;


// Mixins
@mixin flex-vhc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
0% { opacity: 0; }
100%   { opacity: 1; }
}

@keyframes fadeinout {
0%, 100% { opacity: 0; }
50%   { opacity: 1; }
}

p {line-height: 1em;
  }

nav a {
  text-decoration: none;
  color: $secondary-five;
}

nav a:hover {
  color: $secondary-one;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 46px;
  position: absolute;
  top: 0px;
  right: 20px;
  margin: 35px 0px 0px 0px;
}

nav li {
  list-style: none;
  font-size: 8pt;
  font-weight: bold;
  letter-spacing: 1.5pt;
  margin-left: 45px;
  @include flex-vhc;
  display: none;
  animation: fadein 1s;
}

nav .fas {
  font-size: 20pt;
  margin-left: 50px;
}

header {
  padding: 55px 0px 95px 0px;
  height: 350px;
  @include flex-vhc;
}

#logo {
  height: 130px;
  transition: 0.5s;
  animation: fadein 4s;
  padding-left: 20px;
}

// Normalise
body {
  margin: 0;
  font-family: $primary-font;
}

section {
  @include flex-vhc;
}

#about {
  min-height: 250px;
  background-color: $secondary-one;
  padding: 55px 40px 55px 40px;
  border-top: 3px solid $secondary-four;
}

#info {
  max-width: 500px;
  color: $primary;
  font-size: 9pt;
  position: relative;
}

#info #vector-desktop {
  display: none;
  position: absolute;
  top: -55px;
  left: -30px;
}

#info #vector-mobile {
  position: absolute;
  top: -55px;
  left: -30px;
}

#info #quote {
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  margin-top: 55px;
}

#clients {
  padding: 55px 25px 55px 25px;
  flex-wrap: wrap;
  height: 250px;
}

#client-logos {
  display: none;
}

#rotator {
  animation: fadeinout 3s;
}

#contact {
  background-color: $secondary-one;
  padding: 55px 0px 55px 0px;
  height: 350px;
  border-top: 3px solid $secondary-four;
}

form {
  @include flex-vhc;
  flex-direction: column;
}

#form-top {
  @include flex-vhc;
  flex-direction: column;
  width: 100%;
}

input {
  height: 30px;
  width: 90vw;
  max-width: 500px;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 15px 5px;
  border-radius: 0;
  font-size: 10pt;
}

textarea {
  height: 165px;
  padding: 15px 10px 5px 10px;
  width: 90vw;
  max-width: 500px;
  margin: 5px;
  border-radius: 0;
  font-size: 10pt;
}

.btn {
  -webkit-appearance: none;
  background: $secondary-three;
  height: 40px;
  width: 90px;
  border: 0;
  margin-top: 10px;
  font-weight: bold;
  color: $primary;
}

footer {
  background-color: $secondary-two;
  min-height: 30vh;
  color: $primary;
  @include flex-vhc;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.fas {
  margin: 10px;
}

.footer-item {
  margin: 25px;
  @include flex-vhc;
}
.footer-item a:link, .footer-item a[href^="tel"] {
  text-decoration: none;
  color: $primary;
}

// Media queries for resolutions above mobile screen sizes

@media (min-width:640px)  {
// applied to everything above 640px
  /* smartphones, Android phones, landscape iPhone */
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 46px;
    position: absolute;
    top: 0px;
    right: 70px;
    margin: 35px 0px 0px 0px;
  }

  nav li {
    list-style: none;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 1.5pt;
    margin-left: 45px;
    @include flex-vhc;
    display: none;
  }
  #info #vector-desktop {
    display: unset !important;
    position: absolute;
    top: -55px;
    left: -30px;
  }
  #info #vector-mobile {
    display: none;
    position: absolute;
    top: -55px;
    left: -30px;
  }
}

@media (min-width:801px)  {
  // applied to everything above 801px
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  nav .fas {
    display: none;
  }
  nav li {
    display: unset !important;
  }
  #client-logos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #rotator {
    display: none;
  }
}
